<h1>I'm guessing...</h1>
{{clue}}
<form id='form1' method="POST" action="{% url 'machine_guesses' game.id %}">
    {% csrf_token %}
    <input type="hidden" name='minimal_value' value='{{minimal_value}}'/>
    <input type="hidden" name='maximal_value' value='{{maximal_value}}'/>
    <input type="hidden" name='last_attempt' value='{{last_attempt}}'/>
    <input type="hidden" name='comparison' id='comparison'/>
    <button class='comparison' data-comparison='SMALLER'>My number is smaller</button>
    <button class='comparison' data-comparison='BIGGER'>My number is bigger</button>
    <button class='comparison' data-comparison='EQUAL'>That's it!</button>
</form>
<a href="{% url 'cancel_game' game.id %}">Nevermind. Take me home</a>
<script>
    function my_submit(){
        document.getElementById('comparison').value = this.dataset.comparison;
        document.getElementById('form1').submit();
    }
    btns = document.querySelectorAll("button.comparison");
    btns.forEach(btn => {btn.addEventListener('click', my_submit)});
</script>